# Assignment 1 (new working doc)

## Links
- https://cbscanvas.instructure.com/courses/41482/files/1504373?wrap=1
- https://insideairbnb.com/get-the-data/

## Approach
1. data cleaning & standardization
### EDA
2. correlation analysis
3. graphing
### Clustering
4. choose clustering algorithm
5. run clustering algorithm
6. graph clusters
### PCA
7. run pca

In [18]:
# imports
import numpy as np
import pandas as pd
import seaborn as sns
import sklearn
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

In [19]:
# data
with open('./data/listings.csv', 'r') as file:
    df_listings = pd.read_csv(file)
    
df_listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,371299,Marais Rue des Archives refait à neuf février ...,1870265,Thomas,NaN,Hôtel-de-Ville,48.85751,2.35511,Entire home/apt,185.0,3,601,2024-09-06,3.97,3,307,54,7510300547558
1,371862,loft in Paris (Belleville),1872631,Veronique,NaN,Entrepôt,48.87151,2.37219,Entire home/apt,250.0,4,50,2023-08-14,0.34,1,9,0,7511000320406
2,372879,Appartement complet au centre de Paris.,1876396,Samuel,NaN,Gobelins,48.83593,2.35108,Entire home/apt,85.0,30,171,2024-08-15,2.01,3,151,1,"Available with a mobility lease only (""bail mo..."
3,375434,"Luxurious Art & Design Flat, 180m2, Champs Ely...",683140,Oscar,NaN,Élysée,48.86680,2.30972,Entire home/apt,NaN,3,22,2023-07-15,0.15,1,0,0,7510806561916
4,378897,Little flat near Montmartre,1902818,Lorraine,NaN,Opéra,48.88285,2.33462,Entire home/apt,110.0,3,28,2024-07-30,0.19,1,6,2,7511805895013

## 1. data cleaning & standardization
- after this step we will have two dataframes one with only numeric columns and the other with only both
- we standardize the data with z-score normalization

In [20]:
## drop na prices
df_listings_clean = df_listings.dropna(subset=['price'])

## drop irrelevant columns
drop_cols_listing = ['id', 'host_id', 'neighbourhood_group', 'license', 'last_review']
df_listings_clean = df_listings_clean.drop(columns=drop_cols_listing)


# we make the assumption that if revievews_per_month is nan, it means that there are no reviews and we can replace it with 0
df_listings_clean['reviews_per_month'] = df_listings_clean['reviews_per_month'].fillna(0)

## non numeric columns
def drop_non_numeric(df):
    return df.select_dtypes(include=['number'])

df_listings_num = drop_non_numeric(df_listings_clean)

df_listings_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64230 entries, 0 to 95460
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   name                            64230 non-null  object
 1   host_name                       64230 non-null  object
 2   neighbourhood                   64230 non-null  object
 3   latitude                        64230 non-null  float64
 4   longitude                       64230 non-null  float64
 5   room_type                       64230 non-null  object
 6   price                           64230 non-null  float64
 7   minimum_nights                  64230 non-null  int64
 8   number_of_reviews               64230 non-null  int64
 9   reviews_per_month               64230 non-null  float64
 10  calculated_host_listings_count  64230 non-null  int64
 11  availability_365                64230 non-null  int64
 12  number_of_reviews_ltm           64230 non-null  int64
dtypes: float64(4), int64(5), object(4)
memory usage: 6.9+ MB

In [21]:
df_listings_clean.isna().sum()

name                              0
host_name                         0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
number_of_reviews_ltm             0
dtype: int64

In [22]:
# standardize the data
def z_score_normalize(col):
    col_mean = np.mean(col)
    col_variance = np.std(col)
    return((col-col_mean)/col_variance)

df_listings_norm = pd.DataFrame()
for col in df_listings_num.columns:
    if col == 'price':
        df_listings_norm[col] = df_listings_num[col]
    else:
        df_listings_norm[col] = z_score_normalize(df_listings_num[col])
    
df_listings_norm.head()

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,-0.346187,0.399319,185.0,-0.188825,9.415228,2.219580,-0.260815,1.026043,3.504188
1,0.431265,0.893292,250.0,-0.164072,0.404461,-0.464311,-0.279409,-1.449960,-0.549648
2,-1.544573,0.282767,85.0,0.479500,2.383232,0.770427,-0.260815,-0.270119,-0.474577
4,1.061000,-0.193275,110.0,-0.188825,0.044684,-0.575216,-0.279409,-1.474886,-0.399506
5,0.325198,0.340320,300.0,0.058703,-0.315092,-0.686120,-0.279409,1.491333,-0.324435

## 2. Correlation analysis

In [23]:
## Convert column to list
def calc_mean(col):
    ## Calculate mean
    sum_col = sum(col)
    count_col = len(col)
    return round(sum_col / count_col,6)
    

for col in df_listings_num.columns:
    col_list = df_listings_num.loc[:, col].dropna().tolist()

## Calculate mean
    mean_col = calc_mean(col_list)        
        
## Calculate variance
    squared_dist = sum([(mean_col-x)**2 for x in col_list])
    var_col = squared_dist / len(col)

## Calculate standard deviation  
    sd_col = var_col ** (1/2)

## print results
    print(f"Mean of {col} is {mean_col}")
    print(f"Variance of {col} is {var_col}")
    print(f"Standard Deviation of {col} is {sd_col}")
    
# Create an empty correlation matrix
corr_matrix = pd.DataFrame(index=df_listings_num.columns, columns=df_listings_num.columns)

# Loop through each pair of columns
for col1 in df_listings_num.columns:
    for col2 in df_listings_num.columns:
        # Convert first column to list
        x_list = df_listings_num[col1].to_list()
        # Calculate mean of first column
        x_mean = np.mean(x_list)
        # Convert second column to list
        y_list = df_listings_num[col2].to_list()
        # Calculate mean of first column
        x_mean = np.mean(x_list)
        # Convert second column to list
        y_list = df_listings_num[col2].to_list()
        # Calculate mean of second column
        y_mean = np.mean(y_list)
        # Calculate covariance
        sum_cross_variations = sum([(x - x_mean) * (y_list[i] - y_mean) for i, x in enumerate(x_list)])
        cov_xy = sum_cross_variations / len(x_list)
        
        # Calculate std for correlation
        std_x = np.std(x_list)
        std_y = np.std(y_list)
        
        # Calculate correlation
        corr_xy = cov_xy / (std_x * std_y)
        
        corr_matrix.loc[col1, col2] = corr_xy
        print(f"Correlation between {col1} and {col2} is {corr_xy}")

Mean of latitude is 48.863744

Variance of latitude is 2.603498334011504
Standard Deviation of latitude is 1.6135359723326603
Mean of longitude is 2.341303
Variance of longitude is 8.53228614628925
Standard Deviation of longitude is 2.9210077278722237
Mean of price is 256.023276
Variance of price is 3503926280.040558
Standard Deviation of price is 59193.971652868146
Mean of minimum_nights is 10.628429
Variance of minimum_nights is 7487931.720606749
Standard Deviation of minimum_nights is 2736.4085441700313
Mean of number_of_reviews is 25.267601
Variance of number_of_reviews is 14127609.792781457
Standard Deviation of number_of_reviews is 3758.6712802240977
Mean of reviews_per_month is 0.967987
Variance of reviews_per_month is 6911.503372340875
Standard Deviation of reviews_per_month is 83.13545195848084
Mean of calculated_host_listings_count is 31.053884
Variance of calculated_host_listings_count is 24770651.016860764
Standard Deviation of calculated_host_listings_count is 4977.012258058117
Mean of availability_365 is 183.510291
Variance of availability_365 is 58149770.41859723
Standard Deviation of availability_365 is 7625.599675999077
Mean of number_of_reviews_ltm is 7.321703
Variance of number_of_reviews_ltm is 542717.5069363822
Standard Deviation of number_of_reviews_ltm is 736.6936316654177
Correlation between latitude and latitude is 1.0000000000000095
Correlation between latitude and longitude is 0.09317010478770071
Correlation between latitude and price is -0.010186628530223691
Correlation between latitude and minimum_nights is -0.01100156782378526
Correlation between latitude and number_of_reviews is -0.009287626735258939
Correlation between latitude and reviews_per_month is -0.014265313197691967
Correlation between latitude and calculated_host_listings_count is -0.007200802940979476
Correlation between latitude and availability_365 is 0.004829640536211967
Correlation between latitude and number_of_reviews_ltm is -0.006081701923070816
Correlation between longitude and latitude is 0.09317010478770071
Correlation between longitude and longitude is 1.000000000000009
Correlation between longitude and price is -0.1021577490336085
Correlation between longitude and minimum_nights is -0.03526148639692918
Correlation between longitude and number_of_reviews is 0.031345687574325994
Correlation between longitude and reviews_per_month is 0.018333608780181462
Correlation between longitude and calculated_host_listings_count is -0.10097018544011761
Correlation between longitude and availability_365 is -0.05588806588638484
Correlation between longitude and number_of_reviews_ltm is 0.028202216387624515
Correlation between price and latitude is -0.010186628530223691
Correlation between price and longitude is -0.1021577490336085
Correlation between price and price is 0.9999999999999852
Correlation between price and minimum_nights is -0.02680776794932277
Correlation between price and number_of_reviews is -0.04744494978255947
Correlation between price and reviews_per_month is -0.0845526406573483
Correlation between price and calculated_host_listings_count is 0.0028254386821449772
Correlation between price and availability_365 is 0.05769893136499658
Correlation between price and number_of_reviews_ltm is -0.07105350246029711
Correlation between minimum_nights and latitude is -0.01100156782378526
Correlation between minimum_nights and longitude is -0.03526148639692918
Correlation between minimum_nights and price is -0.02680776794932277
Correlation between minimum_nights and minimum_nights is 1.0000000000004674
Correlation between minimum_nights and number_of_reviews is -0.044168571060818514
Correlation between minimum_nights and reviews_per_month is -0.12016077605331818
Correlation between minimum_nights and calculated_host_listings_count is 0.0864584583670263
Correlation between minimum_nights and availability_365 is 0.14525750587231465
Correlation between minimum_nights and number_of_reviews_ltm is -0.10329673003764019
Correlation between number_of_reviews and latitude is -0.009287626735258939
Correlation between number_of_reviews and longitude is 0.031345687574325994
Correlation between number_of_reviews and price is -0.04744494978255947
Correlation between number_of_reviews and minimum_nights is -0.044168571060818514
Correlation between number_of_reviews and number_of_reviews is 0.999999999999997
Correlation between number_of_reviews and reviews_per_month is 0.5581538566005294
Correlation between number_of_reviews and calculated_host_listings_count is -0.06407825418655749
Correlation between number_of_reviews and availability_365 is 0.01800686280836804
Correlation between number_of_reviews and number_of_reviews_ltm is 0.6851749674088369
Correlation between reviews_per_month and latitude is -0.014265313197691967
Correlation between reviews_per_month and longitude is 0.018333608780181462
Correlation between reviews_per_month and price is -0.0845526406573483
Correlation between reviews_per_month and minimum_nights is -0.12016077605331818
Correlation between reviews_per_month and number_of_reviews is 0.5581538566005294
Correlation between reviews_per_month and reviews_per_month is 1.0000000000008562
Correlation between reviews_per_month and calculated_host_listings_count is -0.07523967133812115
Correlation between reviews_per_month and availability_365 is -0.06183045465353088
Correlation between reviews_per_month and number_of_reviews_ltm is 0.8006184382574576
Correlation between calculated_host_listings_count and latitude is -0.007200802940979476
Correlation between calculated_host_listings_count and longitude is -0.10097018544011761
Correlation between calculated_host_listings_count and price is 0.0028254386821449772
Correlation between calculated_host_listings_count and minimum_nights is 0.0864584583670263
Correlation between calculated_host_listings_count and number_of_reviews is -0.06407825418655749
Correlation between calculated_host_listings_count and reviews_per_month is -0.07523967133812115
Correlation between calculated_host_listings_count and calculated_host_listings_count is 0.9999999999998697
Correlation between calculated_host_listings_count and availability_365 is 0.047853757233585786
Correlation between calculated_host_listings_count and number_of_reviews_ltm is -0.06633407489256236
Correlation between availability_365 and latitude is 0.004829640536211967
Correlation between availability_365 and longitude is -0.05588806588638484
Correlation between availability_365 and price is 0.05769893136499658
Correlation between availability_365 and minimum_nights is 0.14525750587231465
Correlation between availability_365 and number_of_reviews is 0.01800686280836804
Correlation between availability_365 and reviews_per_month is -0.06183045465353088
Correlation between availability_365 and calculated_host_listings_count is 0.047853757233585786
Correlation between availability_365 and availability_365 is 1.0000000000001164
Correlation between availability_365 and number_of_reviews_ltm is -0.020698686590732554
Correlation between number_of_reviews_ltm and latitude is -0.006081701923070816
Correlation between number_of_reviews_ltm and longitude is 0.028202216387624515
Correlation between number_of_reviews_ltm and price is -0.07105350246029711
Correlation between number_of_reviews_ltm and minimum_nights is -0.10329673003764019
Correlation between number_of_reviews_ltm and number_of_reviews is 0.6851749674088369
Correlation between number_of_reviews_ltm and reviews_per_month is 0.8006184382574576
Correlation between number_of_reviews_ltm and calculated_host_listings_count is -0.06633407489256236
Correlation between number_of_reviews_ltm and availability_365 is -0.020698686590732554
Correlation between number_of_reviews_ltm and number_of_reviews_ltm is 0.999999999999335

In [24]:
corr_matrix

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
latitude,1.0,0.09317,-0.010187,-0.011002,-0.009288,-0.014265,-0.007201,0.00483,-0.006082
longitude,0.09317,1.0,-0.102158,-0.035261,0.031346,0.018334,-0.10097,-0.055888,0.028202
price,-0.010187,-0.102158,1.0,-0.026808,-0.047445,-0.084553,0.002825,0.057699,-0.071054
minimum_nights,-0.011002,-0.035261,-0.026808,1.0,-0.044169,-0.120161,0.086458,0.145258,-0.103297
number_of_reviews,-0.009288,0.031346,-0.047445,-0.044169,1.0,0.558154,-0.064078,0.018007,0.685175
reviews_per_month,-0.014265,0.018334,-0.084553,-0.120161,0.558154,1.0,-0.07524,-0.06183,0.800618
calculated_host_listings_count,-0.007201,-0.10097,0.002825,0.086458,-0.064078,-0.07524,1.0,0.047854,-0.066334
availability_365,0.00483,-0.055888,0.057699,0.145258,0.018007,-0.06183,0.047854,1.0,-0.020699
number_of_reviews_ltm,-0.006082,0.028202,-0.071054,-0.103297,0.685175,0.800618,-0.066334,-0.020699,1.0

In [ ]:
#as a check
df_listings_num.corr()

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
latitude,1.000000,0.093170,-0.010187,-0.011002,-0.009288,-0.014265,-0.007201,0.004830,-0.006082
longitude,0.093170,1.000000,-0.102158,-0.035261,0.031346,0.018334,-0.100970,-0.055888,0.028202
price,-0.010187,-0.102158,1.000000,-0.026808,-0.047445,-0.084553,0.002825,0.057699,-0.071054
minimum_nights,-0.011002,-0.035261,-0.026808,1.000000,-0.044169,-0.120161,0.086458,0.145258,-0.103297
number_of_reviews,-0.009288,0.031346,-0.047445,-0.044169,1.000000,0.558154,-0.064078,0.018007,0.685175
reviews_per_month,-0.014265,0.018334,-0.084553,-0.120161,0.558154,1.000000,-0.075240,-0.061830,0.800618
calculated_host_listings_count,-0.007201,-0.100970,0.002825,0.086458,-0.064078,-0.075240,1.000000,0.047854,-0.066334
availability_365,0.004830,-0.055888,0.057699,0.145258,0.018007,-0.061830,0.047854,1.000000,-0.020699
number_of_reviews_ltm,-0.006082,0.028202,-0.071054,-0.103297,0.685175,0.800618,-0.066334,-0.020699,1.000000