# Assignment 2

In [34]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from prettytable import PrettyTable
import locale

In [ ]:
with open("data/spx.csv", "r") as file:
    sp_raw = pd.read_csv(file, delimiter=",")
    
sp_raw.head()

         Date  Close/Last     Open     High      Low
0  02/28/2025     5954.50  5856.74  5959.40  5837.66
1  02/27/2025     5861.57  5981.88  5993.69  5858.78
2  02/26/2025     5956.06  5970.87  6009.82  5932.69
3  02/25/2025     5955.25  5982.73  5992.65  5908.49
4  02/24/2025     5983.25  6026.69  6043.65  5977.83

In [35]:
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')
with open("data/ethereum.xlsx", "rb") as file:
    eth_raw = pd.read_excel(file, header=None, sheet_name="Data", usecols="B:C", names=["Date", "Price"], skiprows=5)

eth_raw

             Date    Price
0     Jun 7, 2022  1814.05
1     Jun 8, 2022  1793.57
2     Jun 9, 2022  1789.83
3    Jun 10, 2022  1665.04
4    Jun 11, 2022  1529.66
..            ...      ...
995  Feb 26, 2025  2331.45
996  Feb 27, 2025  2305.48
997  Feb 28, 2025  2237.91
998   Mar 1, 2025  2216.64
999   Mar 2, 2025  2519.69

[1000 rows x 2 columns]

In [36]:
# Data Cleaning
#sp_raw["Date"] = pd.to_datetime(sp_raw["Date"])
# Convert month names to German readable format

eth_raw["Date"] = pd.to_datetime(eth_raw["Date"], format="%b %d, %Y")

ValueError: time data "Oct 1, 2022" doesn't match format "%b %d, %Y", at position 116. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.